<%- include('../includes/app.ejs') %>


	<%- include('../includes/header.ejs') %>
		<!-- ================ start banner area ================= -->
		<section class="blog-banner-area" id="category">
			<div class="container h-100">
				<div class="blog-banner">
					<div class="text-center">
						<h1>Login / New Password</h1>
						<nav aria-label="breadcrumb" class="banner-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">New Password</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- ================ end banner area ================= -->

		<!--================Login Box Area =================-->
		<section class="login_box_area section-margin">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="login_box_img">
							<div class="hover">
								<h4>Forget password ?</h4>
								<p>Enter new password to login to Aroma. This link will be expire soon.</p>
								<a class="button button-account" href="/admin/register">Create an Account</a>
								<a class="button button-account" href="/admin/login">Login</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="login_form_inner">
							 
							<h3>Enter your new password</h3>
							<form class="row login_form" action="/admin/" id="contactForm" method="post">
								<% if(errorMessage) { %> 
									<div class="alert alert-danger form-control" role="alert">
										<%= errorMessage %> 
									</div>
								<% } %>
								<input type="hidden" value="<%= csrfToken %>" name="_csrf">

								<div class="col-md-12 form-group">
									<input type="password" class="form-control" id="password" name="password" placeholder="Password" required
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
								</div>

								<div class="col-md-12 form-group">
									<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
								</div>

								<div class="col-md-12 form-group">
									<button type="submit" value="submit" class="button button-login w-100">
										Confirm
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================End Login Box Area =================-->




		<%- include('../includes/footer.ejs') %>