<%- include('../includes/app.ejs') %>
    <%- include('../includes/header.ejs') %>

        <main class="site-main">

            <section class="section-margin calc-60px">
                <div class="container">
                    <div class="section-intro pb-60px">
                        <p>All Products of</p>
                        <h2>Our <span class="section-intro__style">Store</span></h2>
                    </div>
                    <div class="row">
                        <% if(products.length> 0){ %>
                            <% for(product of products){ %>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="card text-center card-product">
                                        <div class="card-product__img">
                                            <img class="card-img" src="data:image/png;base64, <%= product.image %> " alt="">
                                            <ul class="card-product__imgOverlay">
                                                <a href="/admin/delete-product/<%= product.id %>"><li><button><i class="ti-trash"></i></button></li></a>
                                                <a href="/admin/edit-product/<%= product.id %>"><li><button><i class="ti-pencil-alt"></i></button></li></a>
                                                <a href="/view-product/<%= product.id %>"><li><button><i class="ti-eye"></i></button></li></a>
                                            </ul>
                                        </div>
                                        <div class="card-body">
                                            <p>In Stock : <%= product.stock %> </p>
                                            <h4 class="card-product__title">
                                                <a href="#">
                                                    <%= product.title %>
                                                </a>
                                            </h4>
                                            <p class="card-product__price">
                                                $<%= product.price %>
                                            </p>
                                            <p>SKU : <%= product.sku %> </p>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                    <% }else{ %>
                                        <div class="col-md-12 col-lg-12">
                                            <h1 class="text-uppercase text-center mt-5">
                                                No Products found !
                                            </h1>
                                        </div>
                                        <% } %>

                    </div>
                </div>
            </section>

        </main>


        <%- include('../includes/footer.ejs') %>