<body>

    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo_h" href="index.html"><img src="/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto mr-auto">

                            <li class="nav-item <%= typeof activeHome !== 'undefined'  ? 'active' : '' %> ">
                                <a class="nav-link" href="/">
                                    Home
                                </a>
                            </li>

                            <li class="nav-item <%= typeof activeProducts !== 'undefined'  ? 'active' : '' %> ">
                                <a class="nav-link" href="/admin/products">
                                    Products
                                </a>
                            </li>

                            <li class="nav-item <%= typeof activeAddProduct !== 'undefined'  ? 'active' : '' %>">
                                <a class="nav-link" href="/admin/add-product">
                                    Add Product
                                </a>
                            </li>


                            <li class="nav-item <%= typeof activeContact !== 'undefined'  ? 'active' : '' %> ">
                                <a class="nav-link" href="/contact">
                                    Contact
                                </a>
                            </li>


                            <li class="nav-item <%= typeof activeLogin !== 'undefined'  ? 'active' : '' %>">
                                <a class="nav-link" href="/admin/login">
                                    Login
                                </a>
                            </li>

                            <li class="nav-item <%= typeof activeRegister !== 'undefined'  ? 'active' : '' %>">
                                <a class="nav-link" href="/admin/register">
                                    Sign Up
                                </a>
                            </li>

                            <li class="nav-item <%= typeof activeCheckout !== 'undefined'  ? 'active' : '' %>">
                                <a class="nav-link" href="/checkout">
                                    Checkout
                                </a>
                            </li>
                        </ul>

                        <ul class="nav-shop">
                            <li class="nav-item <%= typeof activeCart !== 'undefined'  ? 'active' : '' %>">
                                <a href="/cart">
                                    <i class="ti-shopping-cart"></i>
                                    <span class="nav-shop__circle">
                                        3
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>